
* {
	box-sizing: border-box;
}


body {
	background: #000;
	position: relative;
	overflow: hidden;
}

.circle {
    animation: grow 3s linear;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	position: absolute;
	height: 50px;
	width: 50px;
}

@keyframes grow {
	to {
        opacity: 0;
		transform: scale(5);
    }
}
